$page_background_color: #131c25;
$page_font_color: #fff;
$header_background_color: #202127;
$header_border_color: #202127;
$linksbox_background_color: #202127;
$linksbox_border_color: $linksbox_background_color;
$input_color: #fff;

$cyan: #4babdb;
$blue: #57c7ff;
$green: #58b129;
$pink: #ff6ac1;
$red: #ff5c57;