// Base color Definitions
$white: #fff;
$cyan: #4babdb;
$blue: #57c7ff;
$green: #58b129;
$pink: #ff6ac1;

// Global page colors
$page_background_color: #131c25;
$page_font_color: $white;

// Header Colors
$header_background_color: #202127;
$header_border_color: $header_background_color;

// Link Box Colors
$linksbox_background_color: #202127;
$linksbox_border_color: $linksbox_background_color;

// Search Bar Colors
$input_color: $white;